<% obj.each do |recipe| %>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        <div class="recipe-title">
          <%= link_to recipe.title, recipe_path(recipe) %>
        </div>
        <div class="recipe-body">
          <%= truncate(recipe.description, length: 100) %>
          <div class="recipe-meta-details">
            <small>
              Created by: <%= recipe.user.username if recipe.user %>,
              <%= time_ago_in_words(recipe.created_at) %> ago,
              last updated: <%= time_ago_in_words(recipe.updated_at) %> ago
            </small>
          </div>  
        </div>
        <% if recipe.categories.any? %>
          <p>Categories: <%=render recipe.categories %> </p>
        <% end %>
        <% if logged_in? && (current_user == recipe.user || current_user.admin?) %>
          <div class="recipe-actions">
            <%= link_to "Edit this recipe", edit_recipe_path(recipe), class: "btn btn-xs btn-primary" %>
            <%= link_to "Delete this recipe", recipe_path(recipe), method: :delete, 
                                        data: {confirm: "Are you sure to delete this recipe?"}, 
                                        class: "btn btn-xs btn-danger" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>  
<% end %>  
