<h1>Recipes List</h1>
<p><%= link_to "Create a new recipe", new_recipe_path %></p>
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>
  
  <% @recipes.each do |recipe| %>
    <tr>
      <td> <%= recipe.title %> </td>
      <td> <%= recipe.description %>  </td>
      <td> <%= link_to 'Show ', recipe_path(recipe) %> </td>
      <td> <%= link_to 'Edit', edit_recipe_path(recipe) %> </td>

    </tr>
  <% end %>  
  
</table>
